<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="background-color: darkgray;">
    <form action="/projects" method="POST">
        <div>
            <label for="name">Project Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter Project Name Here"><br /><br />
            <label for="customer">Customer:</label>
            <input type="text" name="customer" id="customer" placeholder="Enter Customer name"><br /><br />
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" placeholder="Enter Brief description"><br /><br />
            <label for="startDate">Start Date:</label>
            <input type="date" name="date" id="date" placeholder="Enter Brief description"><br /><br />
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>