<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <form action="/form" method="POST">
        <div>
            <label for="say">Say:</label>
            <input type="text" name="say" id="say" value="Hello!">
            <label for="target">To:</label>
            <input type="text" name="to" id="target" value="Mr James Bond">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>